/*-----------------------navbar--------------------*/
.nav a{
    /* float: left;
    display: inline-block; */
    text-decoration: none;
    color: rgb(208, 208, 208);
    margin-top: 70px;
    margin-bottom: 5px;
    /* position: absolute;
    left: 30%; */
}
.nav a:hover{
    border-bottom: 1px solid rgb(182, 181, 181);
}
.sun img{
    width: 23px;
    height: 23px;
}
.sun img:hover{
  text-decoration:underline rgb(182, 181, 181) ;
}
.sign{
    width: 85px;
    padding-right: 0%;
}
.get_started{
    width: 125px;
    height: 46px;
    border-radius: 5px;
     background-color: rgb(67, 119, 118);
}
.get_started:hover{
    background-color: rgb(7, 78, 77)
}
