/*-----------------------navbar--------------------*/
.nav a{
    /* float: left;
    display: inline-block; */
    text-decoration: none;
    color: rgb(208, 208, 208);
    margin-top: 70px;
    margin-bottom: 5px;
    /* position: absolute;
    left: 30%; */
}
.nav a:hover{
    border-bottom: 1px solid rgb(182, 181, 181);
}
.sun img{
    width: 23px;
    height: 23px;
}
.sun img:hover{
  text-decoration:underline rgb(182, 181, 181) ;
}
.sign{
    width: 85px;
    padding-right: 0%;
}
.get_started{
    width: 125px;
    height: 46px;
    border-radius: 5px;
     background-color: rgb(67, 119, 118);
}
.get_started:hover{
    background-color: rgb(7, 78, 77)
}
/*-----------------------heading--------------------*/

.main{
    display: flex;
    justify-content: center;
    flex-flow: column wrap; /*flex-wrap and flex-direction can be reduce like flex-flow*/
    align-items: center;
}
.page_heading_title{
    display: flex;
    flex-wrap: wrap;
    align-items: center; /*controls where the flex items sit on the main axis.*/
}
.first_card{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    flex: 1 ;

}
@media (min-width: 950px) {
    .first_card{
        width: 896px;
        height: 309px;
    }
}
.first_sub_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}