*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}

.first_heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}
.container_1{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 1em 2.3em 1em 2.3em;
    /* background-color: blanchedalmond; */
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #f9ece6;
    border-radius:10px 10px 0px 0px;
    /* border:  1px solid black; */
    min-height: 4.7em;
}
/* ul{
    display: flex;
    margin: 2em;
    flex-wrap: wrap;
} */
.nav_1{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2em;
}

/* .nav_1 li{
   list-style-type: none;
   padding-left: 2em;
} */
.nav_1 a{
 display: flex;
 /* flex-wrap: wrap; */
 text-decoration: none;
 color: black;
}
#login{
    margin-left: .25em;
    font-size: large;
}
#person{
    max-width:20px ;
}
#carrybag{
    max-width:18px ;
}
#search{
    max-width:18px ;
}
.login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:.5em ;
}
.login a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 1.5em; */
    text-decoration: none;
    color: black;
}

.text li{
    list-style-type: none;
    /* margin-top: .25em; */
    padding-left: .6em;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: large;
}
.nav_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bages{
    display: flex;
    justify-content: center;
    padding-left:2.5em ;
    margin-top: .5em;
}
@media only screen and (max-width:768px){
    
    .navbar{
        display: flex;
        /* border:  1px solid black;     */
        justify-content: flex-start;
    }
    .nav_1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
        /* justify-content: flex-start; */
        /* border:  1px solid black; */
        align-items: start;
        gap: 1em;
        padding: 1em;
    }
}
/*---------------------------------first page-------------------------*/

.firstpage{
    display:flex;
    justify-content: center;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    background-color: #f89cab;
    color:#ffffff;
}
.firstpage .left{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-inline-start: 3em;
    margin-block-start: 4em;
    max-width: 49%;
    row-gap: 1.5em;
    flex-direction: column;
}
.firstpage .left h1{
    display: flex;
    font-weight: bold;
    /* flex-wrap: wrap; */
    justify-content: center;
    font-size: 4rem;
    font-family: 'Bricolage Grotesque', sans-serif;

    margin-block-end: .5em;
}
.firstpage .left p{
    display: flex;
    /* margin-block-end: .7em; */
}
.firstpage .left button{
    display: flex;
    font: 20px arial;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #DE2462;
    box-sizing: border-box;
    color: #ffffff;
    max-width: 170px;
    max-height: 45px;
}
.firstpage .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 49%;
    margin-inline-start: 1em;
    /* margin-block-start: 2em; */
 }

 @media only screen and (max-width:768px){
    .firstpage{
        display: flex;
        flex-wrap: wrap;
    }
    .firstpage .right{
        display: flex;
        /* order: 1; */
        justify-content: center;
        /* min-height: 49%; */
    }
    .firstpage .left{
        display: flex;
        /* border: 1px solid black; */
        max-width: 99%;
        /* max-height: 49%; */
        gap: 1em;
        /* justify-content: space-between; */
        /* order: 2; */
        padding: 1em;
        margin: 2rem;
    }
    .firstpage .left h1{
        display: flex;
        font-weight: bold;
        /* flex-wrap: wrap; */
        justify-content: center;
        font-size: 2rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        /* border: 1px solid black */
        /* margin-block-end: .5em; */
    }
 }
 @media only screen and (max-width:468px){

    .firstpage .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }


 /*---------------------SECOND SESSION--------------------*/

 .second_heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
 }
 .container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid black; */
 }
 .product_sec_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 1.2em 3em;
    gap: 2rem;
 }
 .pro{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 360px;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color:rgba(224, 224, 224, 0.649);
 }
 .pro img{
    max-width: 150px;
    max-height: 150px;
 }
 .span 
 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-height: 60px;
    /* border: 1px solid black; */
    border-radius: 100px;
    margin: 1em;
    background-color: white;
 }
 .new{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
 }

 .new:hover{
    color: rgb(201, 0, 0);
 }
 .product{
    display: flex;
    justify-content: center;
 }
 .name_price{
    display: flex;
    justify-content:space-evenly;
    margin-top:1.5em ;
 }
 .price{
    display: flex;
    justify-content:space-around;
    column-gap: .45em;
 }
 .price_amount{
    color: rgb(210, 0, 0);
 }
 .button_2 button{
    display: flex;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 40px;
    border: 1px solid #f16179;
    background-color: #f16179;
    box-sizing: border-box;
    color: #ffffff;
    margin: 3rem;
    max-width: 250px;
    max-height: 45px;
 }
 .button_2 button:hover{
    background-color: #ffffff;
    color:  #f16179;;
 }
/*--------------------------third session---------------------*/

.container_3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: ;
    min-height: 500px; */
    margin: 1em 2.3em 1em 2.3em;
    /* background-color: blanchedalmond; */
    background-color: #7fd7eb;
    color: white;
    border-radius: 15px;
    padding-top: 3em;
}
.container_3 .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 49%;
    margin-inline-start: 1em;
}
.container_3 .left img{
    max-width: 90%;
    padding-top: 60px;
  padding-left: 30px;
}
.container_3 .right{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-inline-start: 3em;
    margin-block-start: 4em;
    margin-block-end: 5em;
    max-width: 49%;
    margin-inline-end: 2em;
    row-gap: 1.5em;
    flex-direction: column;
}
.container_3 .right h1{
    display: flex;
    font-weight: bold;
    /* flex-wrap: wrap; */
    justify-content: center;
    font-size: 4rem;
    font-family: 'Bricolage Grotesque', sans-serif;

    margin-block-end: .5em;
}
.container_3 .right p{
    display: flex;
    font-size: 20px;
    text-align: justify;
    /* margin-block-end: .7em; */
}
.button_3{
    display: flex;
    flex-wrap: wrap;
     column-gap: 1em;
}
.button_3 .btn_left button{
    padding: 15px 40px;
    background-color: #109dbd;
    color: #ffffff;
    border: 1px solid #109dbd;
    font-size: 15px;
}
.button_3 .btn_left button:hover{
    background-color: transparent;
    color: #109dbd;
}
.button_3 .btn_right button{
    padding: 15px 40px;
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 15px;
}
.button_3 .btn_right button:hover{
    background-color: transparent;
    color: white;
}

@media only screen and (max-width:768px){
    .container_3{
        display: flex;
        flex-wrap: wrap;
    }
    .container_3 .left{
        display: flex;
        /* order: 1; */
        justify-content: center;
        /* min-height: 49%; */
    }
    .container_3 .right{
        display: flex;
        /* border: 1px solid black; */
        max-width: 99%;
        /* max-height: 49%; */
        gap: 1em;
        /* justify-content: space-between; */
        /* order: 2; */
        padding: 1em;
        margin: 2rem;
    }
    .container_3 .right h1{
        display: flex;
        font-weight: bold;
        /* flex-wrap: wrap; */
        justify-content: center;
        font-size: 2rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        /* border: 1px solid black */
        /* margin-block-end: .5em; */
    }
 }
 @media only screen and (max-width:485px){
    .container_3 .left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 99%;
        margin-inline-start: 1em;
    }

    .container_3{
        display: flex;
    }
    .container_3 .left{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 99%;
    }
    .container_3 .button_3 .btn_left{
        padding-bottom: 1rem;
    }
 }

 /*-------------------------fourth_session----------------------------*/
.third_heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}
.container_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.3em;
}
.benifits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 440px;
    min-height: 195px;
    /* border: 1px solid black; */
}
.icon img{
    max-width: 88px;
    min-height: 77px;
    /* border: 1px solid black; */
    padding:1.3em;
}
.benifits .benifit_heading{
    margin-bottom: 1em;
}
.benifit_para{
    padding-left: 2em;
    padding-right: 2em;
}

/*---------------------fifth session------------*/
.container_5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 2.3em 1em 2.3em;
    /* background-color: blanchedalmond; */
    background-color: #6929a5;
    color: white;
    border-radius: 15px;
    flex-direction: row;
    padding-top: 3em;
    /* border-radius: 10px; */
}
.container_5 .left{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    max-width: 49%;
    /* margin-inline-start: 1em; */
}
.container_5 .left img{
    width: 80%;
    padding-top: 60px;
    padding-left: 40px;
}
.container_5 .right{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;

    margin-inline-end: 1rem;
    margin-block-start: 4rem;
    margin-block-end: 5rem;
    max-width: 49%;
    
    /* row-gap: 1.5em; */
    flex-direction: column;
}
.container_5 .sub_heading{
    min-height: 180px;
}
.container_5 .right h1{
    display: flex;
    font-weight: bold;
    /* flex-wrap: wrap; */
    justify-content: center;
    font-size: 3rem;
    max-width: 40%;
    font-family: 'Bricolage Grotesque', sans-serif;
    /* border: 1px solid black; */
    /* padding: 2rem; */
}
.container_5 .right p{
    display: flex;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 2em;
    /* border: 1px solid black; */
    /* margin-block-end: .7em; */
}
.button_4{
    display: flex;
    flex-wrap: wrap;
     column-gap: 1em;
}
.button_4 .btn_left button{
    padding: 15px 40px;
    background-color: #9242dd;
    color: #ffffff;
    border: 1px solid #9242dd;
    font-size: 15px;
}
.button_4 .btn_left button:hover{
    background-color: transparent;
    color: #9242dd;
}
.button_4 .btn_right button{
    padding: 15px 40px;
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 15px;
}
.button_4 .btn_right button:hover{
    background-color: transparent;
    color: white;
}


@media only screen and (max-width:768px){
    .container_5{
        display: flex;
        flex-wrap: wrap;
    }
    .container_5 .left{
        display: flex;
        /* order: 1; */
        justify-content: center;
        /* min-height: 49%; */
    }
    .container_5 .right{
        display: flex;
        /* border: 1px solid black; */
        max-width: 99%;
        /* max-height: 49%; */
        gap: 1em;
        /* justify-content: space-between; */
        /* order: 2; */
        padding: 1em;
        margin: 2rem;
    }
    .container_5 .right h1{
        display: flex;
        font-weight: bold;
        /* flex-wrap: wrap; */
        justify-content: center;
        max-width: 100%;
        font-size: 2rem;
        font-family: 'Bricolage Grotesque', sans-serif;
        /* border: 1px solid black */
        /* margin-block-end: .5em; */
    }
 }
 @media only screen and (max-width:485px){
    .container_5 .left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 99%;
        margin-inline-start: 1em;
    }

    .container_5{
        display: flex;
    }
    .container_5 .left{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 99%;
    }
    .container_5 .button_4 .btn_left{
        padding-bottom: 1rem;
    }
 }

 /*----------------------sixth session--------------------------*/
 .container_6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid black; */
    row-gap: .7rem;

 }
 .fourth_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3rem;
    /* border: 1px solid black; */
 }
 .form_map{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* column-gap: 2rem; */
    width: 90%;
    flex-wrap: wrap;
    /* padding: 3rem; */
    /* border: 1px solid red; */
    /* box-shadow: 0px 3px 10px 6px rgba(0,0,0,0.5); */
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.35) 3px 1px 15px;
 }
 .google-map {
    /* border: 1px solid black; */
    display: flex;
    width: 49%;
 }
 .google-map iframe{
    box-sizing: border-box;
    width: 100%;
 }
 .form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 49%;
    min-height:650px;
    gap: 3rem;
    /* border: 1px solid black; */
    padding-top: 2em;
 }
 .frm1{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .frm1 input{
    min-width:520px ;
    min-height: 70px;
    margin-left: 3rem;
 }
  .msg input{
    max-width: 520px;
    min-height: 150px;
}
.button_5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_5 button{

    background-color: rgb(222, 36, 98);
    border: #DE2462;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
}
.button_5 button:hover{
    background-color: transparent;
    border:1px solid #DE2462;
    color: #DE2462;
}
@media only screen and (max-width:1250px){

    .form_map{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .google-map {
        /* border: 1px solid black; */
        display: flex;
        width: 90%;
        /* order: 2; */
     }
     .form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        max-width: 90%;
        min-height:650px;
        /* gap: 2rem; */
        /* border: 1px solid black; */
        /* padding-top: 2em; */
     }
     .frm1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .frm1 input{
        align-self: flex-start;
        margin-left: 0%;
        max-width: 450px;
        
     }
    .button_5{
        width: 100%;
        /* border: 1px solid black; */
    }
    .button_5 button{
        background-color: rgb(222, 36, 98);
        width: 100%;
        border: #DE2462;
        color: white;
        border: none;
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 20px;
    }
    .button_5 button:hover{
        background-color: transparent;
        border:1px solid #DE2462;
        color: #DE2462;
    }
}
@media only screen and (max-width:768px){
    .form_map{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .google-map {
        /* border: 1px solid black; */
        display: flex;
        width: 90%;
        /* order: 2; */
     }
     .form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        max-width: 90%;
        min-height:650px;
        /* gap: 2rem; */
        /* border: 1px solid black; */
        /* padding-top: 2em; */
     }
     .frm1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .frm1 input{
        align-self: flex-start;
        margin-left: 0%;
        min-width: 300px;
        
     }
    .button_5{
        width: 90%;
        /* border: 1px solid black; */
    }
    .button_5 button{
        background-color: rgb(222, 36, 98);
        width: 100%;
        border: #DE2462;
        color: white;
        border: none;
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 20px;
    }
    .button_5 button:hover{
        background-color: transparent;
        border:1px solid #DE2462;
        color: #DE2462;
    }
}
/*-----------------------------seventh session-------------------*/
.fifth_heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4em;
}
.container_7{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: center;
    align-items: center;

}
.controler_left button{
    background-color: #db4f66;
  color: white;
  border: 1px solid #db4f66;
  padding: 50px 15px;
  font-size: 20px;
}

.controler_Right button{
    background-color: #db4f66;
    color: white;
    border: 1px solid #db4f66;
    padding: 50px 15px;
    font-size: 20px;
}

.center_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
  max-width: 70%;
  gap: 1em;
  padding-left: 1.2em;
  /* text-align: center; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.center_part .heading h2{
    color: #db4f66;
    margin: 1em;
    text-align: start;
    padding-left: 1em;
}
.default h3{
    color: gray;
    margin-block-start: .5em;
}

/*-----------------------------eighth session--------------------*/

.container_8{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 5em;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    gap: 3em;
}
.icons img{
    width: 25px;
    height: 25px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.ftr{
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 165px;
    /* gap: 1em; */
}
.ftr .h3{
    margin-bottom: 1em;
}

.second_link .input_footer input{
    /* border: 1px solid white; */
    width: 99%;
    height: 3em;
    margin-bottom: .5em;
}
.button_6 button{
    background-color: pink;
  color: white;
  padding: 10px 30px;
  border: 1px solid pink;
}
.lists1{
    list-style-type: none;
}
.footer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border-top: 2px solid rgb(246, 246, 246);
}
footer{
    margin: .6em 3em 3em 3em;

}