*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}

.first_heading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}
.container_1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f9ece6;
    border-radius: 10px 10px 0 0;
}
ul{
    display: flex;
    margin: 2em;
    flex-wrap: wrap;
}
.nav_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav_1 li{
   list-style-type: none;
   padding-left: 2em;
}
.nav_1 a{
 display: flex;
 flex-wrap: wrap;
 text-decoration: none;
 color: black;
}
#login{
    margin-left: .25em;
    font-size: large;
}
#person{
    max-width:19px ;
}
#carrybag{
    max-width:18px ;
}
#search{
    max-width:18px ;
}
/* .login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.login a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
    text-decoration: none;
    color: black;
}

.text li{
    list-style-type: none;
    margin-top: .25em;
    padding-left: .5em;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: large;
} */

/*---------------------------------first page-------------------------*/

.firstpage{
    display:flex;
    justify-content:center;
    border: 1px solid black;
    flex-wrap: wrap;
}
.left{
    display:flex;
    justify-content: left;
}
