

.odin_icon{
    /* width: 10px; */
    /* position: absolute;
    left: 20%; */
}
.nav {
    /* float: left;
    display: inline-block; */
    text-decoration: none;

    /* position: absolute;
    left: 30%; */
}
#yellow_text{
    color: rgb(199, 138, 7);
}
#head_tag{
    text-align: center;
    
}
.btn-3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.second_row{
    background-image: url();
    background-repeat: no-repeat;
    
}
.third_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.text_center{
    text-align: center;

}
.text_center_para{
    text-align: center;
    margin-top: 10px;
    /* padding-left: ;
    padding-right: 45px; */
    width: 50rem;
    font-size: larger;
    color: rgb(122, 122, 122);
    
}

.demo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    /* width: 800px; */
    /* flex-direction: row; */
    /* gap: 2em; */
}
.demo_lbc{
    /* border: 1px solid black; */
    /* padding-left: 0%;
    padding-right: 0%;
    width: 176px;
    height: 167px; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    flex: 1;
    
    /* gap: 4em; */
    /* flex-direction: row; */
}
.flex-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin-top: 15px;
    width: 331.33px;
    height: 372px;
    /* border: 1px solid black; */
    
}
.lbc-1{
    margin-left: 22%;
    padding-right: 0%;
}
.lbc-3{
    margin-right: 22%;
}
.lbc-1 p{
    width:291.33px;
    height: 72px;
}
.lbc-2 p{
    width:291.33px;
    height: 72px;
}
.lbc-3 p{
    width:291.33px;
    height: 72px;
}
.fourth_row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    background-color: rgba(209, 209, 209, 0.966);
}
.heading_2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:center;
}
.fourth_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first_div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    gap: 2em;
    margin-bottom: 2em;
}

.flex-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 183.3px;
    height: 252px;

}
.flex-2 img{
    width: 144px;
    height: 160px;
}
.flex-2 a{
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.ruby h3{
    width: 129.15px;
    height: 28px;
}
/* .Ruby{
 margin-left: 30%;
 padding-right: 0%;
}
.rails{
    margin-right: 30%;
} */

.second_div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    gap: 2em;
    margin-bottom: 2em;
}
.flex-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 183.3px;
    height: 252px;
}
.flex-3 img{
    width: 144px;
    height: 160px;
}
.flex-3 a{
    text-decoration: none;
    color: rgb(36, 36, 36);
}

/* .intermediate{
    margin-left: 30%;
    padding-right: 0%;
}
.node{
    margin-right: 30%;
} */
#intermediates{
    width: 123.4px;
    height: 80px;
    margin-left: 65px;
    margin-right: 40px;
}
#advanced{
    width: 123.4px;
    height: 80px;
    margin-left: 65px;
    margin-right: 40px;

}
#node{
    margin-left: 45px;
    margin-right: 40px;
}

.third_div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    gap: 2em;
    margin-bottom: 2em;
}
.flex-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 183.3px;
    height: 252px;
}
.flex-4 img{
    width: 144px;
    height: 160px;
}
.flex-4 a{
    text-decoration: none;
    color: rgb(36, 36, 36);
}
/* .Hired{
    margin-left: 30%;
    padding-right: 0%;
}
.React{
    margin-right: 30%;
} */
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore button{
    border-color: rgb(122, 122, 122);
    color: black;
}